
<script type="text/javascript">
$(
	function(){
		$('.myclass').hide();
	
		$('.text').hover(function(){
			$(this).css('color','purple');
			$(this).css('cursor','pointer');
		});
		$('.text').click(function(){
			$('.myclass').toggle();
		});
	
		$('.myclass').hover(function(){
			$(this).css('background','green');
		});
	}
);
</script>


<div class="content">
<h1>Pets</h1>

<table class="pets_table"> 
	<tr>Anton's Pets</tr>
	<tr>
		<td class="pets_title">name</td> 
		<td class="pets_title">age</td>
		<td class="pets_title">user</td>
	</tr> 
	<% @pets.high_priority.each do |pet| %> 
		<tr> 
			<td class="pets_cell"><%= pet.name %></td> 
			<td class="pets_cell"><%= pet.age %></td> 
			<td class="pets_cell"><%= pet.user.name %></td> 			
			<td class="pets_cell"><%= link_to "show", pet_path(pet.id) %></td>
			<td class="pets_cell"><%= link_to "edit", edit_pet_path(pet.id) %> </td>
			<td class="pets_cell"><%= button_to "destroy", pet, confirm: "you sure you want to do this?", method: :delete %> </td>
		</tr> 
	<% end %> 
	
</table>
<br>
<table class="pets_table"> 
	<tr>Other Pets</tr>
	<tr>
		<td class="pets_title">name</td> 
		<td class="pets_title">age</td>
		<td class="pets_title">user</td>
	</tr> 
	<% @pets.low_priority.each do |pet| %> 
		<tr> 
			<td class="pets_cell"><%= pet.name %></td> 
			<td class="pets_cell"><%= pet.age %></td> 
			<td class="pets_cell"><%= pet.user.name %></td> 			
			<td class="pets_cell"><%= link_to "show", pet_path(pet.id) %></td>
			<td class="pets_cell"><%= link_to "edit", edit_pet_path(pet.id) %> </td>
			<td class="pets_cell"><%= button_to "destroy", pet, confirm: "you sure you want to do this?", method: :delete %> </td>
		</tr> 
	<% end %> 
	
</table>
<br>
<p class="text" >CLICK ME!</p>
<br>
<div class="myclass" style="margin: auto;"></div>

<br>
<a class="pets_link_button" style="text-decoration: none;
	background-color: white;
	display: block;
	width: 100px;
	margin: 0 auto;
	color: gray;
	height: 30px;
	line-height: 30px;" href="<%= root_path %>"> Home </a>
</div>