<h1>Pets index</h1>

<table> 
	<tr>
		<td>name</td> 
		<td>age</td>
		<td>user</td>
	</tr> 
	<% @pets.each do |pet| %> 
		<tr> 
			<td><%= pet.name %></td> 
			<td><%= pet.age %></td> 
			<td><%= pet.user %></td> 			
			<td><%= link_to "show", pet_path(pet.id) %></td>
			<td><%= link_to "edit", edit_pet_path(pet.id) %> </td>
			<td><%= button_to "destroy", pet, confirm: "you sure you want to do this?", method: :delete %> </td>
		</tr> 
	<% end %> 
</table>